
/* Help field icon
========================================== */

.comodolab-help-field-icon-container {
	svg {
		height: 1em;
		width: 1em;
		fill: currentColor
	}
}

/* Custom colors
========================================== */

.text-warning-dark {
	color: #524b00;
}

.comodolab-help-field {
	a {
		color: inherit;
		font-weight: 600;
	}
}

.bg-info-light {
	color: #3182ce;
	background-color: rgba(var(--colors-blue-200));
}

.bg-success-light {
	color: #276749;
	background-color: rgba(var(--colors-green-200));
}

.bg-warning-light {
	color: #524b00;
	background-color: rgba(var(--colors-yellow-200));
}

.bg-danger-light {
	color: #742a2a;
	background-color: rgba(var(--colors-red-200));
}

/* Details screen
========================================== */

.help-field-full-width {
	margin: 0 -24px 0 -24px;
	&.remove-bottom-border {
		margin-bottom: -12px;
		> div {
			border-radius: 0 0 0.5rem 0.5rem;
		}
	}
}

/* Data ballon for index screen
========================================== */

[data-balloon] {
	position: relative;
	cursor: help;
}

[data-balloon]:after {
	opacity: 0;
	pointer-events: none;
	transition: all 0.18s ease-out 0.18s;
	font-family: sans-serif !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-shadow: none !important;
	font-size: 12px !important;
	background: rgba(17, 17, 17, 0.9);
	border-radius: 4px;
	color: #fff;
	content: attr(data-balloon);
	padding: .5em 1em;
	position: absolute;
	max-width: 300px;
	width: max-content;
	z-index: 10;
}

[data-balloon]:before {
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
	background-size: 100% auto;
	width: 18px;
	height: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.18s ease-out 0.18s;
	content: '';
	position: absolute;
	z-index: 10;
}

[data-balloon]:hover:before, [data-balloon]:hover:after {
	opacity: 1;
	pointer-events: auto;
}

[data-balloon]:after {
	left: 50%;
	margin-top: 11px;
	top: -20%;
	transform: translate(-50%, -10px);
}

[data-balloon]:before {
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
	background-size: 100% auto;
	width: 18px;
	height: 6px;
	left: 50%;
	margin-top: 5px;
	top: -20%;
	transform: translate(-50%, -10px);
}

[data-balloon]:hover:after {
	transform: translate(-50%, 0);
}

[data-balloon]:hover:before {
	transform: translate(-50%, 0);
}
